<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="url" value="https://go-uat.wedgewood-inc.com/" />
		<add key="browser" value="chrome"/>
		<add key="username" value="itahir@wedgewood-inc.com" />
		<add key="password" value="Virtual20!" />
	</appSettings>
</configuration>